{% extends 'base.html' %}
{% block title %} Login {% endblock title %}

{% block main-content %}
    <div class="container" style="width: 40vw">
        <div class="row my-3">
            <h3>Login</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                <br>
                {% endfor %}
                <small><a href="#">Forgot Password</a></small>
                <br>
                <input type="submit" value="Login" class="btn btn-primary mt-4"> <br>
                <div class="text-center text-primary fw-bold">
                    <small>New User ?<a href="#" class="text-danger"> Sign Up Now</a></small>
                </div>
                {% if form.non_field_error %}
                    {% for error in form.non_field_error %}
                    <p class="alert alert-danger my-3">
                        {{error}}
                    </p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock main-content %}